.nav-section{
     background-color: rgb(44, 62, 80); 
     color: whitesmoke;
    text-decoration: none;
    padding: 5px 10px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid rgb(44, 62, 80);
    

}
.nav-container{
    background-color: rgba(4, 63, 123, 0.248);
    justify-content: center;
}