.home-container{
    padding: 100px;
  text-align: center;
  background-color: #1abc9c;
  
  font-size: 30px;
}
.card-header{
  background-color: #a8d54ebb;
}
.card-body{
  background-color: #b4e28774;
}